# Data
/data/*
!/data/metadata.json
!/data/README.md

# Editors
.vscode

# Python
__pycache__
.ipynb_checkpoints
.mypy_cache

# pytest
.coverage*
.pytest_cache
htmlcov

# Misc
.DS_Store
*.egg-info
venv
legacy
logs
artifacts
wandb
