torch==1.8.1
torchvision==0.9.1
torch-lr-finder==0.2.1
torchinfo==0.1.1
tqdm==4.60.0
click==7.1.2
typer==0.3.2
wandb==0.10.30
nltk==3.2.5
editdistance==0.5.3
fastapi==0.65.1
uvicorn==0.13.4
python-multipart==0.0.5
streamlit==0.82.0